body {
  background-color: #282c34;
}

.App {
  padding-left: 32px;
  padding-right: 32px;
}

.App-header {
  margin-top: 2%;
}

.prompt-container {
  display: flex;
  align-items: center;
  gap: 10px;
}
.textarea-100 {
  flex: 1;
  resize: none;
  display: block;
  background: 0 0;
  color: white;
  line-height: 1.2px;
  height: 50px;
  padding: 32px 24px 16px 32px;
  font-size: 15px;
}

.button-100 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  min-width: 100px;
  height: 50px;
  background-color: #ff4b5a;
  border-radius: 2px;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
}
.button-100:disabled {
  color: #c4b0b0;
}

.App-results {
  margin-top: 32px;
  color: white;
}
.result-box {
  border-radius: 25px;
  border: 2px solid #615f5f;
  padding: 20px;
  margin-top: 20px;
}
.result-box-question {
  font-weight: 700;
  margin-bottom: 8px;
}
.result-box-answer {
  font-weight: 300;
  white-space: pre-line;
}
